.container {
  margin: 5rem auto;
  width: 80%;
  @media (min-width: 1024px) {
    width: 60%;
  }

  .ceremony {
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fefefe;
    border: 3px solid #f1f1f1;
    border-radius: 1%;

    @media (min-width: 1024px) {
      padding: 1rem 3rem;
    }

    .ceremonyItem {
      margin-bottom: 1.5rem;
      padding: 0.5rem 0.5rem;
      border-bottom: 1px solid #e1e1e1;

      @media (min-width: 1024px) {
        padding: 0.5rem 3rem;
      }

      .name {
        font-weight: bold;
        font-size: 1.2rem;
        font-style: oblique;
        color: #333333;
      }

      &:hover {
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        background-color: #dddddd;
        border-radius: 5px;
        transition: all 1.3s ease-in-out;

        .name {
          color: #111111;
        }
      }
    }
  }
}
