.footer-container {
  background-color: #e3989f;
  color: rgb(241, 241, 241);
  padding: 20px 40px;
  margin-top: auto;

  .footer-rights {
    width: 100%;
    // background-color: rebeccapurple;
    text-align: center;
    p {
      // text-align: center;
      line-height: 1.2;
      margin: 0;
      font-size: 12px;
    }
    h3 {
      margin: 0;
      font-size: 16px;
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;

    .footer-contact,
    .footer-links,
    .footer-about {
      flex: 1 1 30%;
      min-width: 200px;
    }

    .footer-links {
      font-size: 16px;
      text-align: center;

      h4 {
        margin-top: 0;
        margin-bottom: 6px;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center; /* centriraj horizontalno */
        gap: 0.5rem;
        text-align: center;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
          text-align: center;

          a {
            margin: auto;
          }
        }
      }
    }

    .footer-contact {
      // height: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: auto;
      // color: green;

      .footer-address {
        font-style: normal;
        line-height: 1.6;
        text-align: center;

        a {
          color: inherit;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }

      p {
        margin: 2px 0;
        font-size: 16px;
        color: inherit;
      }
    }

    .footer-about {
      text-align: center;
      h4 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 6px;

        // margin-top: 0;
        // margin-bottom: 6px;
        // text-align: center;
      }
      // margin-top: 10px;
      p {
        font-size: 14px;
        // text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;

      .footer-about,
      .footer-nav,
      .footer-about {
        width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}
