// @import "../../styles/colors.module.scss";
@use "../../styles/colors.scss" as colors;

.header {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  width: 100vw;
  margin-bottom: 2rem;
  color: #110703;
  // background-color: $color-main-dark-purple-100;

  letter-spacing: 2px;
}

.header h1 {
  align-items: center;
  margin: 1rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;

  // color: $color-main-brown-600;
}

.header_na {
  font-family: "Great Vibes", cursive;
  font-size: 3.3rem;
}

.header h2 {
  margin-bottom: 2.5rem;
}

.header li {
  // background-color: red;
  // padding: 0;
  // background-color: rebeccapurple;

  a {
    // margin: 0.25rem 0;
    // background-color: #bababa;
    font-family: "Merriweather Sans", sans-serif;
  }
}

// .drop_link_cont {
//   margin-top: 111rem;
// }

.drop_link_cont:first-child {
  margin-top: 0.5rem;

  @media screen and (min-width: 800px) and (orientation: landscape) {
    margin-top: 0;
  }
}
.drop_link_cont:last-child {
  padding-bottom: 0;
}

.header li .contact {
  background-color: #cc142d;
  color: white;
  // color: #fbdade;
  border-radius: 8px;
  padding: 0 0.5rem;

  transition: all 0.6s ease-in;
}

.header li .contact:hover {
  background-color: white;
  color: #cc142d;
}

.drop_p {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

.drop_p:hover {
  cursor: pointer;
}

.is_drop {
  display: none;
}

.is_not_drop {
  display: block;
  // padding: 0.25rem;
  // position: absolute;
  // text-align: center;
  margin: 0 auto;
  // background-color: rgba(128, 128, 128, 0.185);

  // background-color: #cc142d;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  // padding: 1rem;

  .drop_link_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: rebeccapurple;

    a {
      display: block;
      text-align: center;
      // padding: 1.5rem;
      padding: 1rem 0;
      margin-top: 0.25rem;
      // margin-bottom: 0;
      // background-color: rebeccapurple;
      z-index: 99;
      background: #fff;
      border-radius: 4px;
    }
  }
}

.nav_toggle {
  position: absolute;
  top: 10vh;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.97);
  padding-top: 2vh;
  list-style: none;

  z-index: 10;

  /* transform: translateX(0%);
      transition: transform 3s; */
}

.nav_toggle_none {
  display: none;
}

.nav_toggle ul {
  list-style: none;
  padding: 5rem 0 10rem;
}

.nav_toggle ul li {
  margin: 0;
  padding: 1rem 5rem;
  font-size: 1.2rem;
}

.nav_toggle ul li a {
  display: inline-block;
  /* background-color: rebeccapurple; */
}

.btn {
  background-color: transparent;
  border: none;

  /* transition: trasform 3s all; */
}

.burger_icon {
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
  color: var(--fonty);

  /* transform: translatey(40%);
    
      overflow: hidden; */
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  .header {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
  }

  .header h1 {
    font-size: 3rem;
  }

  .header ul {
    margin: auto;
  }

  .header_na {
    font-size: 4.5rem;
  }

  .nav_toggle,
  .nav_toggle_none {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 100%;
    padding: 0;
  }

  .nav_toggle ul,
  .nav_toggle_none ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    list-style: none;
    padding: 0;
  }

  .nav_toggle ul li,
  .nav_toggle_none ul li {
    width: 13vw;
    margin: 0;
    padding: 0;
  }

  .is_not_drop {
    position: absolute;
    width: 13vw;
    padding: 0.25rem 0;

    .drop_link_cont {
      padding: 0;

      a {
        padding: 0 1rem;
      }
    }
  }

  .btn {
    display: none;
  }
}
