.cont {
  height: 40vh;
  width: 100%;
  background-image: url(../../public/images/hero-images/hrizantema-hero-500w.jpg);

  background-image: image-set(
    url(../../public/images/hero-images/hrizantema-hero-700w.jpg)
      type("image/webp"),
    url(../../public/images/hero-images/hrizantema-hero-700w.jpg)
      type("image/jpg")
  );
  
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cont img {
  display: none;
}

.itemcont {
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 1.4rem;

  text-shadow: 1px 1px 1px black;
  margin: 1rem;
  padding: 0.2rem;
}

@media (min-width: 30em) {
  .cont {
    height: 45vh;
  }
}

@media (min-width: 45em) {
  .cont {
    height: 60vh;
    background-image: url(../../public/images/hero-images/hrizantema-hero-1200w.jpg);

    background-image: image-set(
      url(../../public/images/hero-images/hrizantema-hero-1200w.webp)
        type("image/webp"),
      url(../../public/images/hero-images/hrizantema-hero-1200w.jpg)
        type("image/jpg")
    );
  }

  .itemcont {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
}

@media (min-width: 75rem) {
  .cont {
    height: 70vh;
    background-image: url(../../public/images/hero-images/hrizantema-hero-1500w.jpg);

    background-image: image-set(
      url(../../public/images/hero-images/hrizantema-hero-1500w.webp)
        type("image/webp"),
      url(../../public/images/hero-images/hrizantema-hero-1500w.jpg)
        type("image/jpg")
    );

    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 90rem) {
  .cont {
    background-image: url(../../public/images/hero-images/hrizantema-hero-2400w.jpg);

    background-image: image-set(
      url(../../public/images/hero-images/hrizantema-hero-2400w.webp)
        type("image/webp"),
      url(../../public/images/hero-images/hrizantema-hero-2400w.jpg)
        type("image/jpg")
    );
  }
}
