@use "../../styles/colors.scss" as colors;

.cont {
  display: flex;
  flex-direction: column;
  font-family: "Merriweather Sans";

  @media (min-width: 75rem) {
    flex-direction: row;
  }

  .text_cont {
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    letter-spacing: 1px;

    padding: 0.5rem;

    p {
      margin: 1rem 1.5rem;
    }

    @media (min-width: 40rem) {
      height: auto;

      p {
        margin: 1rem 1.5rem;
      }
    }

    @media (min-width: 75rem) {
      height: 45vh;
      order: 1;

      padding: 1rem 1rem 1rem 6rem;
    }
  }

  .image_cont {
    height: 25vh;
    width: 100%;
    background-image: url(../../public/images/hero-images/hrizantema-hero-400w.jpg);
    background-image: image-set(
      url(../../public/images/hero-images/hrizantema-hero-400w.webp)
        type("image/webp"),
      url(../../public/images/hero-images/hrizantema-hero-400w.jpg)
        type("image/jpg")
    );

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;

    @media (min-width: 40rem) {
      height: 40vh;

      background-image: url(../../public/images/hero-images/hrizantema-hero-500w.jpg);
      background-image: image-set(
        url(../../public/images/hero-images/hrizantema-hero-500w.webp)
          type("image/webp"),
        url(../../public/images/hero-images/hrizantema-hero-500w.jpg)
          type("image/jpg")
      );
    }

    @media (min-width: 75rem) {
      height: 45vh;

      background-image: url(../../public/images/hero-images/hrizantema-hero-700w.jpg);
      background-image: image-set(
        url(../../public/images/hero-images/hrizantema-hero-700w.webp)
          type("image/webp"),
        url(../../public/images/hero-images/hrizantema-hero-700w.jpg)
          type("image/jpg")
      );
      background-size: cover;
      order: 2;
    }
  }
}
