.cont {
  background-color: blue;
  margin: auto;
  width: 28rem;
  height: 100%;

  @media (min-width: 40rem) {
    width: 15rem;
  }

  @media (min-width: 40rem) {
    width: 100%;
  }

  .image_cont {
    width: 20rem;
    height: 25rem;
    overflow: hidden;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: auto;
    width: 20rem;
    position: relative;
    // top: -15%;
    object-fit: cover;
    // margin-left: auto;
    // margin-right: auto;
    // margin-left: auto;
    // margin-right: auto;
    // width: 100%;
    // height: 100%;
  }
}
