.cont {
  width: 100%;
  margin: 5rem auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  // flex-direction: column;
  // justify-content: space-between;
 

  @media (min-width: 45rem) {
    // flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 60rem) {
    // flex-direction: row;
    width: 68%;
  }
}
