.sample_cont {
  // width: 100%;
  margin: 0 auto;

  .cont {
    .section_item {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 45rem) {
    width: 70%;
  }

  .cont {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 45rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 90rem) {
      margin: 0 auto;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
