@import "../../styles/colors.module.scss";

.cont {
  display: flex;
  justify-content: center;

  width: 17rem;
  margin: 0 auto 2rem auto;
  padding: 0 0.5rem;
  background-color: $color-gray-200;

  gap: 2rem;

  border: 4px solid $color-main-brown;
  border-radius: 60px;

  @media (min-width: 45rem) {
    // margin-left: 55%;
  }

  p {
    font-size: 2rem;
    // margin-left: 1rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cont:hover {
  cursor: pointer;
}
