.cont {
  background-color: #eee;
  padding: 2.02rem;
  margin: 0.5rem 1rem 0 1rem;
  border-radius: 100px 25px 100px 5px;

  @media (min-width: 48rem) {
    margin: 3rem 1rem 0 1rem;
  }
}

.text {
  text-align: center;
}

.cont p {
  margin: 0 1rem;
}
