.contMain {
  margin: 1rem 0 5rem 0;

  .markdown {
    margin: auto;
    width: 80%;
    h3 {
      margin-top: 3rem;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .title {
    text-align: center;
  }

  .galeryCont {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    margin: auto;

    .figureImageContainer {
      margin: auto;
      width: 80%;
      picture {
        img {
          width: 100%;
          height: auto;
        }
      }

      .figcaptionImage {
        max-width: 100%;
        font-size: 0.9rem;
        text-wrap: wrap;
        padding: 0.5rem;
      }
    }

    @media (min-width: 790px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      width: 80%;
      // background-color: yellow;
    }
  }
}
