.contMain {
  margin: 1rem 0 5rem 0;

  .markdown {
    margin: auto;
    width: 80%;
    h3 {
      margin-top: 3rem;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .title {
    text-align: center;
  }

  .figureImageContainer {
    margin: auto;
    width: 80%;
    picture {
      img {
        width: 15rem;
      }
    }

    .figcaptionImage {
      font-size: 8px;
    }
  }
}
