.markdown {
  margin: auto;
  width: 80%;
  h3 {
    margin-top: 3rem;
    text-align: center;
    // background-color: red;
  }

  p {
    text-align: justify;
    // background-color: rebeccapurple;
  }
}

.title {
  text-align: center;
}

.figureImageContainer {
  margin: auto;
  width: 80%;
  picture {
    img {
      width: 15rem;
    }
  }

  .figcaptionImage {
    font-size: 8px;
  }
}
