.selectSearchCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 90%;
  margin: auto;

  .selectWithButton {
    position: relative;
    display: flex;
    align-items: center;

    select {
      width: auto;
      padding: 0.2rem 0.5rem;
      border: 1px solid #33160a;
      border-radius: 3px;
      background: #fff;
      transition: border-color 0.2s;
      padding-right: 2rem;
    }

    select:focus {
      border-color: #e3989f;
      outline: none;
    }

    .cancelButton {
      position: absolute;
      right: -1.8rem;
      background: transparent;
      border: none;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: #e3989f;
      }
    }
  }

  @media (min-width: 640px) {
    width: 80%;
  }

  @media (min-width: 1100px) {
    width: 50%;
  }

  label {
    display: block;
    // background-color: rebeccapurple;
    // margin-bottom: 0.5rem;
    font-weight: 500;
    color: #444;
    padding: 0.2rem 0;
  }
}
