// @import "../styles/colors.module.scss";
@use "../styles/colors.scss" as colors;

.cont {
  // padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-image: url("/images/aside/page-not-found-404.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: colors.$color-gray-100;
  text-align: center;
}
