// #940635 thinking about!!! and her pallet!
// #bf0644

// EXPORT
// @import "../../styles/colors.module.scss";

$color-main-dark-purple-100: #dfdbe0;
$color-main-dark-purple-200: #beb7c2;
$color-main-dark-purple-300: #9e92a3;
$color-main-dark-purple-400: #7d6e85;

$color-main-dark-purple: #5d4a66;

$color-main-dark-purple-600: #4a3b52;
$color-main-dark-purple-700: #382c3d;
$color-main-dark-purple-800: #251e29;
$color-main-dark-purple-900: #130f14;

$color-main-light-purple-100: #e1dfe5;
$color-main-light-purple-200: #c3beca;
$color-main-light-purple-300: #a69eb0;
$color-main-light-purple-400: #887d95;

$color-main-light-purple: #6a5d7b;

$color-main-light-purple-600: #554a62;
$color-main-light-purple-700: #40384a;
$color-main-light-purple-800: #2a2531;
$color-main-light-purple-900: #151319;

$color-main-goldy-100: #fbf7e7;
$color-main-goldy-200: #f6f0ce;
$color-main-goldy-300: #f2e8b6;
$color-main-goldy-400: #ede19d;

$color-main-goldy: #e9d985;

$color-main-goldy-600: #baae6a;
$color-main-goldy-700: #8c8250;
$color-main-goldy-800: #5d5735;
$color-main-goldy-900: #2f2b1b;

$color-main-dark-green-100: #e3ebe3;
$color-main-dark-green-200: #c7d7c8;
$color-main-dark-green-300: #acc4ac;
$color-main-dark-green-400: #90b091;

$color-main-dark-green: #749c75;

$color-main-dark-green-600: #5d7d5e;
$color-main-dark-green-700: #465e46;
$color-main-dark-green-800: #2e3e2f;
$color-main-dark-green-900: #171f17;

$color-main-light-green-100: #f0f2e5;
$color-main-light-green-200: #e0e5cb;
$color-main-light-green-300: #d1d7b2;
$color-main-light-green-400: #c1ca98;

$color-main-light-green: #b2bd7e;

$color-main-light-green-600: #8e9765;
$color-main-light-green-700: #6b714c;
$color-main-light-green-800: #474c32;
$color-main-light-green-900: #242619;

// NEW COLORS PALETTE

// MAIN - Black Bean
$color-main-brown-100: #d86131;
$color-main-brown-200: #ab4821;
$color-main-brown-300: #893a1a;
$color-main-brown-400: #672b14;

$color-main-brown: #401b0c;

$color-main-brown-600: #33160a;
$color-main-brown-700: #230e06;
$color-main-brown-800: #220e07;
$color-main-brown-900: #110703;

// GRAY
$color-gray-100: #fcfcfc;
$color-gray-200: #e0e0e0;
$color-gray-300: #cccccc;
$color-gray-400: #b8b8b8;

$color-gray: #a3a3a3;

$color-gray-600: #8f8f8f;
$color-gray-700: #707070;
$color-gray-800: #525252;
$color-gray-900: #333333;

// ALERT - Medium Candy Apple Red
$color-alert-100: #f6a2ad;
$color-alert-200: #f27d8d;
$color-alert-300: #ee586c;
$color-alert-400: #eb334b;

$color-alert: #db162f;

$color-alert-600: #ba1229;
$color-alert-700: #950f21;
$color-alert-800: #6f0b18;
$color-alert-900: #4a0710;

// GREEN - Spanish Green
$color-green-100: #a4e7c2;
$color-green-200: #6ed89e;
$color-green-300: #4acf86;
$color-green-400: #31b96e;

$color-green: #28965a;

$color-green-600: #22804c;
$color-green-700: #1c6a3f;
$color-green-800: #114026;
$color-green-900: #0b2b19;

// LINK BLUE - Blue NCS
$color-link-blue-100: #bddfee;
$color-link-blue-200: #8cc7e0;
$color-link-blue-300: #5bafd3;
$color-link-blue-400: #3a9fcb;

$color-link-blue: #2e86ab;

$color-link-blue-600: #277494;
$color-link-blue-700: #21607c;
$color-link-blue-800: #174457;
$color-link-blue-900: #0d2731;
