/* COLOR PALETTS */

/* #e9d985 */

/* ------------------ */

// @import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap");

// MEDIA QUERIES

// @media (min-width: 40rem) {

// }

// @media (min-width: 50rem) {

// }

// @media (min-width: 60rem) {

// }

// @media (min-width: 65rem) {

// }

// @media (min-width: 80rem) {

// }

// @import "../styles/colors.module.scss";
@use "colors.scss" as colors;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", "Merriweather Sans", sans-serif;
  font-display: swap;
  color: colors.$color-main-brown-900;
}

h1 {
  color: colors.$color-main-brown-600;
}

h2 {
  color: colors.$color-main-brown-900;
}

p {
  color: colors.$color-main-brown-800;
  // color: $color-main-brown-700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
