// @import "../../../styles/colors.module.scss";
@use "../../../styles/colors.scss" as colors;

.headline {
  text-align: center;
  //   border-bottom: 3px solid red;
  color: colors.$color-main-brown-700;
}

.borderBottom {
  width: 80%;
  color: colors.$color-main-brown-400;

  //   @media (min-width: 40rem) {
  //   }

  //   @media (min-width: 60rem) {
  //     width: 75%;
  //   }
}
